@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #ffffff;
  color: #222222;
  line-height: 1.6;
  width: 67.5%;
  align-items: center;
  margin: auto;
}
body .shadow {
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1), 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  max-width: 1200px;
}

h1, h2 {
  margin-bottom: 10px;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fcfcfc;
  font-size: 1.3em;
  font-weight: 700;
  color: #fcfcfc;
  text-shadow: 2px 1px 0 #191919, -1px -1px 0 #f75d49;
  letter-spacing: 0.05em;
}

h1:hover {
  color: #fcfcfc;
  text-shadow: 2px 2px 0 #191919, -2px -2px 0 #f75d49;
  transform: scale(1.1);
}

h2 {
  font-size: 1.8rem;
  color: #222222;
  text-align: center;
}

header {
  background-color: #ffffff;
  padding: 20px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .logo {
  font-size: 2.33rem;
  margin-bottom: 25px;
  margin-left: 8.3%;
}
header .search-box {
  display: flex;
  align-items: center;
  gap: 4.6%;
  margin-left: 31.4%;
  width: 100%;
}
header .inputtext {
  width: 51%;
  height: 30%;
  border: 1.3px solid #767676;
  color: #767676;
  text-align: center;
}
header .inputtext:hover {
  border-color: #f75d49;
  background-color: #ffffff;
  color: #222222;
  width: 100%;
}
header .buttonclick {
  height: 30%;
  margin-right: 9.35%;
  width: 21.3%;
  border: 1.3px solid #f75d49;
  color: #f75d49;
  background-color: #ffffff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
header .buttonclick:hover {
  background-color: #f75d49;
  color: #ffffff;
  border-color: #f75d49;
}

nav {
  height: 100%;
}
nav .addingteacher {
  padding: 10px 23px;
  background-color: #fcfcfc;
  color: #f75d49;
  border: 1.2px solid #f75d49;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  text-align: center;
}
nav .addingteacher:hover {
  background-color: #f75d49;
  color: #ffffff;
  border-color: #f75d49;
  box-sizing: border-box;
}
nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-left: 8.5%;
  margin-right: 8%;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 29px;
  padding: 0;
}
nav li a {
  color: #f75d49;
  text-decoration: none;
  font-size: 1.1rem;
}
nav li a:hover {
  text-decoration: underline;
  color: #c84b48;
}

.dividerlong {
  width: 42%;
  margin: 20px auto;
  border-bottom: 1px solid #7a7b84;
  margin-top: 2.4%;
  margin-bottom: 0;
}

.top-teachers {
  background-color: #ffffff;
  padding: 0.5% 0%;
}
.top-teachers .caption-top-teacher {
  font-size: 1.7em;
}
.top-teachers .caption-top-teacher:hover {
  color: #f75d49;
  transform: scale(1.1);
}
.top-teachers .filters {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 4.5%;
  margin-left: 8.5%;
  margin-top: 2.6%;
}
.top-teachers .filters label {
  font-size: 12px;
  color: #a6a7a9;
  margin-right: 5px;
}
.top-teachers .filters select {
  display: flex;
  padding: 6.5px 15px;
  background-color: #ffffff;
  margin-left: 0%;
  height: 10%;
  text-indent: 0px;
  margin-right: 3px;
  font-size: 12px;
  border: 1px solid #a6a7a9;
  border-radius: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #676769;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/arrow.jpg");
  background-position: right 10px;
  border-radius: 2px;
}
.top-teachers .label_region {
  display: flex;
  width: 8.5%;
  margin-left: 0.2%;
  box-sizing: border-box;
}
.top-teachers .label_male {
  width: 8.3%;
  margin-left: 0.1%;
}
.top-teachers .filters input[type=checkbox] {
  margin-right: 13px;
}
.top-teachers .divider {
  display: inline-block;
  height: 28px;
  width: 0;
  border-right: 1.5px dotted rgb(60, 60, 60);
  margin: 0 10px;
}

.teacher-cards {
  margin: 0;
  width: 83.5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
  justify-items: center;
  align-items: stretch;
}

.teacher-card {
  padding: 0;
  position: relative;
  text-align: center;
  grid-gap: 0;
  margin-bottom: 15%;
}

.teacher-card img {
  border-radius: 50%;
  width: 122px;
  height: 122px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  border: 3px solid #f99589;
  padding: 0;
  grid-gap: 0;
  margin-bottom: 10%;
}

.star {
  position: absolute;
  top: 0px;
  right: -2px;
  font-size: 1.7rem;
  color: #ecec04;
  z-index: 10;
  border-color: none;
}

.teacher-card img:hover {
  color: #f75d49;
  transform: scale(1.3);
}

.nofoto {
  width: 122px;
  height: 122px;
  display: flex;
  align-self: center;
  border-radius: 100%;
  overflow: hidden;
  align-content: center;
  border: solid 3px #f99589;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  color: #f75d49;
  font-weight: 600;
  font-size: 1.3rem;
}

.nofoto:hover {
  color: #f75d49;
  transform: scale(1.3);
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2;
}

.surname {
  font-weight: 600;
  font-size: 1.05rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 5.9%;
}

.subject {
  font-weight: 400;
  font-size: 0.75rem;
  color: #8c8c8c;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 5%;
}

.country {
  font-weight: 400;
  font-size: 0.6rem;
  color: #8c8c8c;
  text-align: center;
  line-height: 1.2;
}

.statistics {
  padding: 20px 0;
  background-color: #ffffff;
}
.statistics .statisticscaption {
  font-weight: 600;
}
.statistics .statisticscaption:hover {
  color: #f75d49;
  transform: scale(1.1);
}
.statistics table {
  width: 83.2%;
  border-collapse: collapse;
  margin-top: 3%;
  margin-bottom: 40px;
  margin-left: 8.2%;
  margin-bottom: 0%;
  color: #626162;
}
.statistics table tr:nth-child(odd) {
  background-color: #ffffff;
}
.statistics table tr:nth-child(even) {
  background-color: #f9f5f9;
}
.statistics table th, .statistics table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  line-height: 50%;
  border: none;
  color: #626162;
}
.statistics table td {
  font-size: 0.77rem;
}
.statistics table td:first-child {
  text-align: left;
}
.statistics table td:first-child td:first-child {
  text-align: left;
}
.statistics table th {
  text-align: center;
}
.statistics table th th:first-child {
  text-align: center;
}
.statistics table th {
  background-color: #ffffff;
  border-bottom: 1px solid #191919;
}
.statistics table th {
  position: relative;
  padding-bottom: 10px;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.statistics table th::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #000;
  transition: width 0.3s ease;
}
.statistics table th:hover {
  background-color: #fafafa;
  color: #000;
}
.statistics table th:hover::after {
  width: 100%;
}
.statistics table th:hover::before {
  content: "↓";
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #80bfe0;
}
.statistics .navigation_for_page {
  width: auto;
  margin-left: 0%;
  margin-bottom: 2.5%;
}
.statistics .pagination {
  display: flex;
  justify-content: flex-start;
  margin-left: 8.5%;
  margin-top: 2.3%;
}
.statistics .page-link {
  margin: 0 2px;
  padding: 4px 8px;
  border: none;
  color: #3b7fc7;
  font-size: 11px;
}
.statistics .page-link.active {
  color: #626162;
  cursor: default;
}
.statistics .page-link:hover {
  background-color: #f1f1f1;
}
.statistics .page-dots {
  display: inline-block;
  margin: 0 0px;
  padding: 0px 0px;
}

.favoritescaption {
  font-weight: 600;
  margin-bottom: 2.8%;
}

.favoritescaption:hover {
  color: #f75d49;
  transform: scale(1.1);
}

.favorite-cards {
  margin: 0;
  width: 83.5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0;
  justify-items: center;
  align-items: stretch;
}

.favorite-card {
  padding: 0;
  position: relative;
  text-align: center;
  grid-gap: 0;
  margin-bottom: 15%;
}

.favorite-card img {
  border-radius: 50%;
  width: 122px;
  height: 122px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
  border: 3px solid #f99589;
  padding: 0;
  grid-gap: 0;
  margin-bottom: 10%;
}

.favorite-card img:hover {
  color: #f75d49;
  transform: scale(1.3);
}

.nofoto {
  width: 122px;
  height: 122px;
  display: flex;
  align-self: center;
  border-radius: 100%;
  overflow: hidden;
  align-content: center;
  border: solid 3px #f99589;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  color: #f75d49;
  font-weight: 600;
  font-size: 1.3rem;
}

.nofoto:hover {
  color: #f75d49;
  transform: scale(1.3);
}

.name {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.2;
}

.surname {
  font-weight: 600;
  font-size: 1.05rem;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 5.9%;
}

.prev-button, .next-button {
  border: none;
  font-size: 7rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #888888;
  z-index: 3;
  padding: 30 10px;
  position: absolute;
}

.next-button {
  right: 10px;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  font-size: 3rem;
  z-index: 2;
  transform: scale(0.9, 1.2);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #8b8b8b;
  padding: 0 20px;
}

.prev-button {
  left: 10px;
  position: absolute;
  top: 25%;
  transform: translateY(-50%);
  transform: scale(0.9, 1.2);
  font-size: 3rem;
  z-index: 2;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #8b8b8b;
  padding: 0 20px;
}

.slider {
  position: relative;
}

.prev-button:hover, .next-button:hover {
  color: #191919;
}

footer {
  background-color: #ffffff;
  padding: 20px 0;
  color: #222222;
}
footer .information-paragraph {
  text-align: justify;
  color: #7f8080;
  background-color: #ffffff;
  margin-bottom: 1.5%;
  margin-left: 8.3%;
  margin-right: 8.3%;
  margin-top: 1.5%;
  font-size: 12.7px;
}
footer .normal-paragraph {
  line-height: 1.5;
}
footer .extra-space {
  line-height: 2;
  margin-top: 1%;
}
footer .container {
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}
footer .container ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
footer .container ul li {
  margin: 0 15px;
}
footer .container ul li a {
  color: #f75d49;
  text-decoration: none;
}
footer .container ul li a:hover {
  text-decoration: underline;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 999;
  display: none;
}

.form-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 31.2%;
  height: 98%;
  padding: 0px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  z-index: 1000;
}

.form-header {
  display: flex;
  background-color: #464547;
  color: white;
  padding: 10px;
}

.close-btn {
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
}

.form-container input,
.form-container select,
.form-container textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  background-color: #f75d49;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.form-container button:hover {
  background-color: #ff5a36;
}

@media screen and (max-width: 375px) {
  h2 {
    font-size: 1rem !important;
  }
  body {
    overflow-x: hidden;
    display: flex;
    width: auto !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding: 0% !important;
  }
  .container {
    width: 100%;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
  header .container {
    flex-direction: column;
    align-items: center;
    margin-right: 40%;
    padding: 0%;
  }
  .logo {
    font-size: 0.5rem;
    margin-bottom: 0px;
    margin-right: 20% !important;
    width: 50%;
    margin-left: 0% !important;
  }
  .search-box {
    flex-direction: row;
    margin-top: 0%;
    width: 100% !important;
    margin-right: 0%;
    margin-left: 0%;
    max-width: 68%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
  .inputtext {
    width: 100% !important;
    height: 35px;
    margin-left: 0 !important;
    font-size: 10px;
  }
  .buttonclick {
    width: 100%;
    margin-right: 0;
    padding-left: 2%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-size: 7px;
  }
  .nav-container {
    margin-right: 5% !important;
  }
  nav ul {
    flex-direction: line;
    align-items: center;
    gap: 5px;
  }
  nav li a {
    font-size: 0.6rem;
    padding: 3px;
  }
  .teacher-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
  }
  .teacher-card img {
    width: 80px;
    height: 80px;
  }
  .nofoto {
    width: 80px;
    height: 80px;
  }
  .star {
    font-size: 1rem;
  }
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3px !important;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-right: 20% !important;
    margin-left: 1%;
    width: 280px;
  }
  .filters label {
    min-width: 3px;
  }
  .filters select, .filters input[type=checkbox] {
    padding: 10px;
    font-size: 12px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 0%;
  }
  .divider {
    display: inline-block;
    height: 10px;
    width: 0;
    border-right: 0.8px dotted rgb(60, 60, 60);
    margin-right: 0%;
    margin-left: 0%;
  }
  .addingteacher {
    font-size: 0.4rem !important;
    padding: 4px 6px !important;
    padding-right: 15px !important;
    text-align: center !important;
    margin-left: 1%;
    width: 20% !important;
    justify-content: center;
  }
  .prev-button, .next-button {
    font-size: 3rem;
  }
  .information-paragraph {
    font-size: 0.7rem !important;
  }
  .prev-button {
    left: -20px;
  }
  .next-button {
    right: -20px;
  }
  .normal-paragraph {
    line-height: 1.2 !important;
  }
  .extra-space {
    line-height: 1.2 !important;
    margin-top: 0% !important;
  }
  .statistics table {
    width: 250px;
    margin-left: 13px;
  }
  .statistics th, .statistics td {
    padding: 0px 0px;
    font-size: 10px;
    white-space: nowrap;
  }
  .statistics td {
    font-size: 5px !important;
    text-align: center;
  }
  .name {
    font-size: 1rem;
  }
  .surname {
    font-size: 1rem;
  }
  .favorite-card img,
  .nofoto {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nofoto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #f75d49;
  }
  .favorite-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .favorite-card {
    text-align: center;
    padding: 10px;
  }
}/*# sourceMappingURL=style.css.map */